<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Registrar</h1>
      </ion-col>
    </ion-row>
    <ion-row class="rowlogin">
      <ion-col size="8">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre y apellido</ion-label>
          <ion-input type="text" [(ngModel)]="user.full_name" required></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" [(ngModel)]="user.username" required></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="user.password" required></ion-input>
           <ion-icon slot="end" [name]="showPassword ? 'eye' : 'eye-off'" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input type="{{ showPasswordconfir ? 'text' : 'password' }}"  [(ngModel)]="confirmPassword" required></ion-input>
           <ion-icon slot="end" [name]="showPasswordconfir ? 'eye' : 'eye-off'" (click)="togglePasswordConfirVisibility()"></ion-icon>
        </ion-item>
        <div class="btn-registrar">
          <ion-button fill="clear" (click)="goTo()">Volver a login</ion-button>
        </div>
  
    
          <ion-button expand="full" (click)="register()">Registrarse</ion-button>
          <ion-list [inset]="true" >
            <ion-item *ngFor="let item of validateGerneal">
              <ion-label>{{item}}</ion-label>
            </ion-item>
  
          </ion-list>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
