<ion-content  [fullscreen]="true" class="page">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Login</h1>
      </ion-col>
    </ion-row>
    <ion-row class="rowlogin">
      <ion-col size="8">
          <ion-item>
            <ion-label position="floating">Correo electrónico o nombre de usuario</ion-label>
            <ion-input type="text" [(ngModel)]="emailOrUsername" name="emailOrUsername"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="user.password" name="password"></ion-input>
            <ion-icon slot="end" [name]="showPassword ? 'eye' : 'eye-off'" (click)="togglePasswordVisibility()"></ion-icon>
          </ion-item>
          <div class="btn-registrar">
            <ion-button fill="clear" (click)="goTo()">Ir a registrarme</ion-button>
          </div>
          
          <ion-button expand="full" (click)="login()">Iniciar sesión</ion-button>
        <ion-list [inset]="true" >
          <ion-item *ngFor="let item of validateGerneal">
            <ion-label>{{item}}</ion-label>
          </ion-item>

        </ion-list>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
